@charset "UTF-8";
/*底部tab*/
@import url(../css/common2.css);
@import url(../fonts/iconfont.css);
/*--------------------mask--------------------------------*/
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5); }

/*--------------------nav--------------------------------*/
.nav-pd {
  padding-bottom: 58px; }

.nar-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 58px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  color: #99A7AB;
  font-size: 12px;
  padding: 10px 7%;
  -webkit-box-shadow: 0 0 1px 2px #EAEAEA;
          box-shadow: 0 0 1px 2px #EAEAEA; }
  .nar-bar a {
    text-align: center;
    color: #99A7AB;
    position: relative; }
    .nar-bar a i {
      font-size: 24px;
      color: #7A7E83; }
    .nar-bar a h6 {
      font-size: 12px;
      font-weight: normal !important;
      margin: 0;
      color: #929292; }

.nar-bar .active i,
.nar-bar .active h6 {
  color: #31B3EF;
  font-weight: normal !important; }

/*--------------------loading--------------------------------*/
.loading {
  position: fixed;
  z-index: 4999;
  width: 100%;
  height: 100%;
  background: transparent;
  top: 0;
  left: 0; }

.loading-inner {
  position: absolute;
  width: 7.6em;
  min-height: 7.6em;
  top: 180px;
  left: 50%;
  margin-left: -3.8em;
  background: rgba(18, 18, 18, 0.7);
  text-align: center;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #fff; }

.loading-icon {
  display: inline-block;
  margin: 30px 0 0;
  width: 38px;
  height: 38px;
  vertical-align: baseline;
  background: transparent url(../images/loading.svg) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  -webkit-animation: oLoading 1s steps(12, end) infinite;
  animation: oLoading 1s steps(12, end) infinite; }

.loading-content {
  color: #fff; }

@-webkit-keyframes oLoading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

@keyframes oLoading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

/*--------------------refresh&loadmore-------------------------------*/
.yo-scroll {
  font-size: 16 px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: 100;
  height: auto; }
  .yo-scroll .inner {
    position: absolute;
    top: -3rem;
    width: 100%;
    height: auto;
    -webkit-transition-duration: 300ms;
         -o-transition-duration: 300ms;
            transition-duration: 300ms; }
    .yo-scroll .inner .pull-refresh {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      height: 3rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .yo-scroll .inner .pull-refresh .up-tip {
        display: none; }
      .yo-scroll .inner .pull-refresh .refresh-tip {
        display: none; }
      .yo-scroll .inner .pull-refresh .down-tip {
        display: none; }
      .yo-scroll .inner .pull-refresh .arow-icon {
        display: inline-block;
        z-index: 10;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        vertical-align: -4px;
        background-image: url(../images/arow.svg);
        -webkit-background-size: 100% 100%;
                background-size: 100%;
        -webkit-background-size: contain;
                background-size: contain;
        background-repeat: no-repeat;
        -webkit-transition-duration: 300ms;
             -o-transition-duration: 300ms;
                transition-duration: 300ms;
        -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
                transform: rotate(0deg) translate3d(0, 0, 0); }
    .yo-scroll .inner .load-more {
      font-size: 16px;
      width: 100%;
      height: 3rem;
      line-height: 3rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      display: none; }
      .yo-scroll .inner .load-more .icon-center {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
    .yo-scroll .inner .nullData {
      font-size: 16px;
      color: #999999;
      height: 3rem;
      line-height: 3rem;
      text-align: center; }
  .yo-scroll .loading-icon {
    margin: 0 5px;
    width: 20px;
    height: 20px;
    display: inline-block; }
  .yo-scroll.touch .pull-refresh .loading-icon {
    display: none; }
  .yo-scroll.down .pull-refresh .loading-icon {
    display: none; }
  .yo-scroll.down .pull-refresh .down-tip {
    display: block; }
  .yo-scroll.up .pull-refresh .arow-icon {
    -webkit-transform: rotate(180deg) translate3d(0, 0, 0);
            transform: rotate(180deg) translate3d(0, 0, 0); }
  .yo-scroll.up .pull-refresh .loading-icon {
    display: none; }
  .yo-scroll.up .pull-refresh .up-tip {
    display: block; }
  .yo-scroll.refresh .pull-refresh .refresh-tip {
    display: block; }
  .yo-scroll.refresh .pull-refresh .arow-icon {
    display: none; }

.has_red {
  width: 10px;
  height: 10px;
  position: absolute;
  right: -5px;
  top: -5px;
  background: red;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.u-unread {
  position: absolute;
  top: -.3rem;
  right: -1rem;
  padding: 2px;
  min-width: 24px;
  color: #fff;
  -webkit-border-radius: .8rem;
          border-radius: .8rem;
  background-color: #F74C31;
  text-align: center;
  font-size: 14px;
  line-height: 20px; }
